<App params={ f7params }>
  <View main class="safe-areas" url="/siteslist" />
</App>

<script>
  import {
    App,
    View,
  } from 'framework7-svelte';

  import routes from './routes';

  // Framework7 Parameters
  let f7params = {
    name: 'News', // App name
    theme: 'auto', // Automatic theme detection
    autoDarkTheme: true, // Automatic Dark Theme
    routes: routes, // App routes
  };
  if (window.navigator.standalone) {
    document.body.classList.add('standalone');
  }
</script>
