<Page>
    <Navbar title="News" backLink="Back"/>
    <Block strong>
        <BlockHeader large>{title}</BlockHeader>
        {#if time}
        Время публикации {time}<br />
        {/if}
        <div class="newscontent">
        {@html description}
        </div>
        
        <BlockFooter small>{link}</BlockFooter>
        <Button on:click="{open_browser}">Открыть</Button>
    </Block>
</Page>

<script>
import { Page, Navbar, Button, BlockHeader, BlockFooter, Block } from 'framework7-svelte';

export let id;

let title = "";
let description = "";
let link = "";
let time = undefined;

const news_model = require('../models/news_model');

news_model.getCached(id).then((news) => {
    title = news.title;
    description = news.content;
    link = news.link;
    if (news.time)
        time = news.time;
}).catch((reason) => {
    error = "Не удалось загрузить информацию"
});

function open_browser() {
    try {
        let appControl = new tizen.ApplicationControl("http://tizen.org/appcontrol/operation/view", link);

        tizen.application.launchAppControl(
            appControl,
            null,
            function () {
                console.log("Browser opened");
            },
            function (e) {
                App.Share.notify("Browser error: " + e.message);
            }
        );
    } catch (e) {
        console.log(e.name + ': ' + e.message);
    }
}

</script>