<Page>
    <Navbar title="News" backLink="Back"></Navbar>
    
    {#if error}

    <BlockTitle medium>Ошибка</BlockTitle>
    <Block strong>
    {error}
    </Block>

    {:else}
        {#if news}
        {#each news as n, i}
            <Block strong>
                {n.title}
                <Button href="/article/{i}">Читать</Button>
            </Block>
        {/each}
        {:else}
        <BlockTitle>Загрузка</BlockTitle>
        <Block strong class="text-align-center">
            <Preloader color="multi"></Preloader>
        </Block>
        {/if}
    {/if}
    
</Page>

<script>
import { Page, Navbar, Button, BlockTitle, Block, Preloader } from 'framework7-svelte';

let news = undefined;
let error = undefined;

const news_model = require('../models/news_model');

// modelid
export let id;

news_model.setModelByIdx(id);

news_model.getNews().then((news_arr) => {
    news = news_arr;
}).catch((reason) => {
    error = "Не удалось загрузить информацию"
});

</script>