<Page>
    <Navbar title="News"></Navbar>
    <List mediaList inset>
    {#each models as m, i}
    <ListItem
      href="/newslist/{i}"
      title="{m.name}"
      subtitle="">
      <img slot="media" src="{m.icon.default}" width="44" alt="{m.name}" />
    </ListItem>
    {/each}
    </List>
    
</Page>

<script>
import { Page, Navbar, List, ListItem } from 'framework7-svelte';

const models = require('../models/news_model').getModelsList();

</script>